<a href="https://colab.research.google.com/github/tjdrhks0808/Seminar_in_Statistics/blob/gh-pages/R_prac_w2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
library(tidyverse)

In [ ]:
table4a

In [ ]:
table4b

## pivot_longer

In [ ]:
table4a

In [ ]:
table4a %>% 
  pivot_longer(c('1999', '2000'), names_to = "year", values_to = "cases")

In [ ]:
# join two tables

tidy4a <- table4a %>% 
  pivot_longer(c('1999', '2000'), names_to = "year", values_to = "cases")
tidy4b <- table4b %>% 
  pivot_longer(c('1999', '2000'), names_to = "year", values_to = "population")
left_join(tidy4a, tidy4b)

In [ ]:
tidy4a <- table4a %>% 
  pivot_longer(c('1999', '2000'), names_to = "year", values_to = "cases")
tidy4b <- table4b %>% 
  pivot_longer(c('1999', '2000'), names_to = "year", values_to = "population")
right_join(tidy4a, tidy4b)

## pivot_wider

In [ ]:
table2

In [ ]:
table2 %>% pivot_wider(names_from = type, values_from = count)

## seperate

In [ ]:
table3

In [ ]:
table3 %>% separate(rate, into = c("cases", "population"))

## unite

In [ ]:
table5

In [ ]:
table5 %>% 
  unite(new, century, year, sep = "")

## Functional Programming

In [ ]:
set.seed(1004)

df <- tibble(
  a = rnorm(10),
  b = rnorm(10),
  c = rnorm(10),
  d = rnorm(10)
)

In [ ]:
df

In [ ]:
median(df$a)

median(df$b)

median(df$c)

median(df$d)

In [ ]:
output <- vector("double", ncol(df))  # 1. output
for (i in seq_along(df)) {            # 2. sequence
  output[[i]] <- median(df[[i]])      # 3. body
}
output

In [ ]:
install.packages("rbenchmark")
library(rbenchmark)

In [ ]:
simple1 <- function(n) {
  output <- vector("double", n)
  for(i in 1:n) 
    output[i] = i
  return(output)
} 

simple2 <- function(n) {
  output <- c()
  for(i in 1:n) 
    output = c(output, i)
  return(output)
}

In [ ]:
benchmark("fc1"=simple1(1000),
          "fc2"=simple2(1000),
          replications=100,
          columns=c('test', 'elapsed', 'replications'))

## for loop

In [ ]:
col_mean <- function(df) {
  output <- vector("double", ncol(df)) 
  for (i in seq_along(df)) {
    output[[i]] <- mean(df[[i]])
  }
  output
}

col_median <- function(df) {
  output <- vector("double", ncol(df)) 
  for (i in seq_along(df)) {
    output[[i]] <- median(df[[i]])
  }
  output
}

col_sd <- function(df) {
  output <- vector("double", ncol(df)) 
  for (i in seq_along(df)) {
    output[[i]] <- sd(df[[i]])
  }
  output
}

col_mean(df)
col_median(df)
col_sd(df)

In [ ]:
col_summary <- function(df, fun) {
  out <- vector("double", length(df))
  for (i in seq_along(df)) {
    out[i] <- fun(df[[i]])
  }
  out
}

col_summary(df, mean)
col_summary(df, median)
col_summary(df, sd)

## map function

In [ ]:
df %>% map_dbl(mean)

In [ ]:
df %>% map_dbl(median)

In [ ]:
df %>% map_dbl(sd)

In [ ]:
mtcars %>% 
  split(.$cyl) %>% 
  map(function(df) lm(mpg ~ wt, data = df))

In [ ]:
f1 <- function(df) {
  lm(mpg ~ wt, data = df)
}
mtcars %>% 
  split(.$cyl) %>% 
  map(f1)

In [ ]:
mtcars %>% 
  split(.$cyl) %>% 
  map(~lm(mpg ~ wt, data = .)) %>% 
  map(summary) %>% 
  map_dbl('r.squared')

##ggplot

In [ ]:
diamonds %>% ggplot(aes(cut, price)) + geom_boxplot()

In [ ]:
diamonds %>% ggplot(aes(cut, price)) + geom_violin()